node-red/.flows_validator.json.backup
[{"id":"d66832c.2bc24d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"338b48c0.ba75a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5afabaea.353964","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"549aca24.0c7944","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"3be19ed2.246fa2","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"b0120fca.953eb","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"829913b1.281ff","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"6229326e.4993bc","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"a395b4ef.f591d8","type":"inject","z":"338b48c0.ba75a8","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":699,"y":421,"wires":[["9b167b82.fb80e8"]]},{"id":"fd63572a.ed58c8","type":"arduino out","z":"338b48c0.ba75a8","name":"","pin":"4","state":"OUTPUT","arduino":"549aca24.0c7944","x":1109.5,"y":421,"wires":[]},{"id":"9b167b82.fb80e8","type":"function","z":"338b48c0.ba75a8","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":907,"y":421,"wires":[["fd63572a.ed58c8"]]},{"id":"58d979b2.fd5a08","type":"inject","z":"338b48c0.ba75a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":707,"y":353,"wires":[["9b167b82.fb80e8"]]},{"id":"6a50a69f.c0ce28","type":"inject","z":"5afabaea.353964","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":560,"y":425,"wires":[["86b95df3.13e49"]]},{"id":"f4b54f9c.40331","type":"arduino out","z":"5afabaea.353964","name":"","pin":"13","state":"OUTPUT","arduino":"6229326e.4993bc","x":980.5,"y":425,"wires":[]},{"id":"86b95df3.13e49","type":"function","z":"5afabaea.353964","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":768,"y":425,"wires":[["f4b54f9c.40331"]]},{"id":"e69c6bd5.c1d6f8","type":"arduino out","z":"338b48c0.ba75a8","name":"","pin":"4","state":"OUTPUT","arduino":"549aca24.0c7944","x":1307,"y":665,"wires":[]}]