node-red/.start.backup
[{"id":"2366d9ee.e8b9e6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fbdb4c8b.05c2e","type":"arduino-board","device":""},{"id":"19e44d09.8ac6e3","type":"inject","z":"2366d9ee.e8b9e6","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":656,"y":384,"wires":[["46bf8998.ae4938"]]},{"id":"1847cc77.95eb64","type":"arduino out","z":"2366d9ee.e8b9e6","name":"","pin":"13","state":"OUTPUT","arduino":"fbdb4c8b.05c2e","x":1076.5,"y":384,"wires":[]},{"id":"46bf8998.ae4938","type":"function","z":"2366d9ee.e8b9e6","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":864,"y":384,"wires":[["1847cc77.95eb64"]]}]