node-red/flows_validator.json
[{"id":"d66832c.2bc24d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"338b48c0.ba75a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"549aca24.0c7944","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"3be19ed2.246fa2","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"935f18ca.4304e8","type":"arduino out","z":"d66832c.2bc24d","name":"Pulse","pin":"5","state":"OUTPUT","arduino":"549aca24.0c7944","x":985,"y":604,"wires":[]},{"id":"3a9943a2.33707c","type":"inject","z":"d66832c.2bc24d","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":733,"y":599,"wires":[["935f18ca.4304e8","d3d4ad62.f3f43"]]},{"id":"d3d4ad62.f3f43","type":"debug","z":"d66832c.2bc24d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":923,"y":558,"wires":[]},{"id":"a395b4ef.f591d8","type":"inject","z":"338b48c0.ba75a8","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":".2","crontab":"","once":false,"onceDelay":"","x":699,"y":421,"wires":[["9b167b82.fb80e8"]]},{"id":"fd63572a.ed58c8","type":"arduino out","z":"338b48c0.ba75a8","name":"","pin":"5","state":"OUTPUT","arduino":"549aca24.0c7944","x":1109.5,"y":421,"wires":[]},{"id":"9b167b82.fb80e8","type":"function","z":"338b48c0.ba75a8","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":907,"y":421,"wires":[["fd63572a.ed58c8"]]},{"id":"6efbb1b5.01956","type":"arduino in","z":"338b48c0.ba75a8","name":"","pin":"13","state":"INPUT","arduino":"549aca24.0c7944","x":666,"y":505,"wires":[[]]}]