node-red/flows_validator.json
[{"id":"d66832c.2bc24d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"338b48c0.ba75a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5afabaea.353964","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"549aca24.0c7944","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"900a4522.a25b78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a395b4ef.f591d8","type":"inject","z":"338b48c0.ba75a8","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":699,"y":421,"wires":[["9b167b82.fb80e8"]]},{"id":"fd63572a.ed58c8","type":"arduino out","z":"338b48c0.ba75a8","name":"","pin":"4","state":"OUTPUT","arduino":"549aca24.0c7944","x":1114.5,"y":519,"wires":[]},{"id":"9b167b82.fb80e8","type":"function","z":"338b48c0.ba75a8","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":907,"y":421,"wires":[["fd63572a.ed58c8","e69c6bd5.c1d6f8","4606ac0a.84d844","e55cf307.ac49e"]]},{"id":"58d979b2.fd5a08","type":"inject","z":"338b48c0.ba75a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":707,"y":353,"wires":[["9b167b82.fb80e8"]]},{"id":"6a50a69f.c0ce28","type":"inject","z":"5afabaea.353964","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":560,"y":425,"wires":[["86b95df3.13e49"]]},{"id":"86b95df3.13e49","type":"function","z":"5afabaea.353964","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":768,"y":425,"wires":[["6197839e.93b08c"]]},{"id":"e69c6bd5.c1d6f8","type":"arduino out","z":"338b48c0.ba75a8","name":"","pin":"2","state":"OUTPUT","arduino":"549aca24.0c7944","x":1110,"y":369,"wires":[]},{"id":"6197839e.93b08c","type":"arduino out","z":"5afabaea.353964","name":"","pin":"13","state":"OUTPUT","arduino":"549aca24.0c7944","x":991,"y":426,"wires":[]},{"id":"4606ac0a.84d844","type":"arduino out","z":"338b48c0.ba75a8","name":"","pin":"9","state":"OUTPUT","arduino":"549aca24.0c7944","x":1118,"y":589,"wires":[]},{"id":"e55cf307.ac49e","type":"arduino out","z":"338b48c0.ba75a8","name":"","pin":"3","state":"OUTPUT","arduino":"549aca24.0c7944","x":1113,"y":438,"wires":[]},{"id":"57675831.061738","type":"arduino in","z":"338b48c0.ba75a8","name":"","pin":"2","state":"INPUT","arduino":"549aca24.0c7944","x":696.388719821465,"y":645.1612903225808,"wires":[["300d9738.13195"]]},{"id":"f2d69571.6c3cf","type":"arduino in","z":"338b48c0.ba75a8","name":"","pin":"3","state":"INPUT","arduino":"549aca24.0c7944","x":691.3167343139648,"y":692.8382892608643,"wires":[["300d9738.13195"]]},{"id":"3f56f295.5f846e","type":"arduino in","z":"338b48c0.ba75a8","name":"","pin":"4","state":"INPUT","arduino":"549aca24.0c7944","x":696.3887634277344,"y":738.486536026001,"wires":[[]]},{"id":"12a3e315.6cf1f5","type":"arduino in","z":"338b48c0.ba75a8","name":"","pin":"7","state":"INPUT","arduino":"549aca24.0c7944","x":711.6048278808594,"y":784.1347208023071,"wires":[[]]},{"id":"300d9738.13195","type":"debug","z":"338b48c0.ba75a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1056.5023331304528,"y":713.126394806249,"wires":[]}]